/*defaults */
/* Mobile-first  */


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}



iframe {
    width: 50%;
}

a{
    text-decoration: none;
    color: #222;
}


.wrap {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.4;
    font-weight: 500;
    width: 100%;
    
}


header, footer {
    background-color: #222;

}

h2 {
    font-size: 4rem;
    font-weight: 800;
}

section {
    width: 100%;
    padding: 25px;
    background-color: #ffe6ac;
}



.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

.fa-play {
    padding-left: 15px;
}




/* start:nav */
.nav {
    margin: 0 auto;
   font-size: 1.2rem;
   padding: 25px;
}




.nav-list li{
    display: block;
    padding: 20px 0;
    text-align: center;
 
}

.nav-list li:hover{
    background-color: #c78c06;
    color: #222;
}

.nav-list li:hover a {
    color: #222;
}

.nav-list li a {
    color: #c78c06;
}

.main-logo{
    width: 100%;
}

.main-logo img{
    float: left;

}


.nav-list li:nth-child(1){
    background-color: #c78c06;
}



.serch-box input {
    width: 94%;
    padding: 12px;
    float: left;
    font-size: 1.2rem;

}

.serch-box button{
    width: 6%;
    padding: 12px;
    float: right;
    background-color: transparent;
    border: 1px solid #c78c06;

}

 .fa-search{
    color: #c78c06;
    background-color: transparent;
    font-size: 25px;

    
}

/* end:nav */

/* start: header banner */
.banner-wrap{
    background-image: url("../images/main-banner.jpg");
    background-size: cover cover;
    padding: 110px 0;
}

.banner {
    background: rgba(0,0,0,0.5);

}

.banner h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.5;
    color: white;
}

.banner {
    padding: 110px 25px 25px 25px;
    color: white;
}

.banner-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 40px;
    background-color: #c78c06;
    font-size: 1.5rem;
}

/* end:banner */
/********* end:header ***********/


/*******Start : Main *******/

main {
    width: 100%;
}


/* link button */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 40px;
    background-color: #222;
    font-size: 1.5rem;
    color: white;
}


.about-us{
    
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column-reverse;
}

.about-img img {
    width: 100%;
}

.about-text h2 {
    margin: 40px 0;
}

.about-text p:nth-child(3){
    margin: 30px 0;
}

/* end: about us*/

/* start : our servies */
#Servies,
#Team {
    margin-top: 40px;
    background-color: #fff;
    display: grid;
    width: inherit;

}

#Servies h3 {
    font-size: 3.5rem;
    font-weight: 800;
    padding: 40px 0;
}

.servies-box {
    background-color: #ffe6ac;
    margin-top: 25px;
}


.servies-box img {
    width: 100%;
}

.servies-wrap {
    padding: 25px;
}

/* end:servies */


/* start:vision */

#Vision {
    background-image: url("../images/vision.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    color: #fff;
}

#Vision h2{
    margin: 30px 0;
}

.vision-btn {
    border: 1px solid #c78c06;

}

/* end:vision */

/* start:team */

.team-wrap {
    margin-top: 25px;
    background-color: #ffe6ac;
}


.team-box img {
    width: 100%;
}


.team-box h3 {
    font-size: 3.5rem;
    font-weight: 800;
    padding: 30px 0 10px 0;
}


.team-box:not(.team1,.team2)
{
    padding: 25px;
}

.team-box h3+p {
    font-size: 1.8rem;
    font-weight: 800;
    border-bottom: 3px solid #be7d00;
}


.team-box p:nth-child(3){
    margin-top: 25px;
    
}

/* end:team */

/* start:contact */
#Contact {
    background-color: white;
}

#Contact h3 {
    font-size: 1.8rem;
    font-weight: 800;
}

.contact-box form {
    margin-top: 15px;
}

.contact-box form input {
    display: block;
    width: 100%;
    padding: 7px;
    margin: 5px 0;
}

.contact-box button {
    background-color:#222;
    color:#c78c06;
    padding: 5px;
    font-size: 1.4rem;
    margin-top: 15px;
}

.contact2 h3{
    margin-top: 30px;
}

.table-wrap table {
    width: 100%;
    margin-top: 10px;
}

.table-wrap th, tr, td {
        border: 1px solid #222;
        padding: 13px;
}

.table-wrap thead {
    background-color: #ffe6ac;
}

.contact3 h3 {
    margin-top: 30px;
}

.map {
    margin-top: 10px;
}

.map iframe {
    width: 100%;
}

/* end:contact */

/* start:footer */

footer {
    color: #c78c06;
    padding: 40px 0 15px 25px;
}

.footer-wrap p:nth-child(2){
    margin-top: 10px;
}




/*  */
@media screen and(min-width:760px) {
    

}



