/*defaults */
/* Mobile-first  */


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}

a {
    text-decoration: none;
    color: #222;
}

.wrap {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.4;
    font-weight: 500;
    box-sizing: border-box;
}

header,
footer {
    background-color: #222;

}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

section {
    padding: 3%;
    background-color: #ffe6ac;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fa-play {
    padding-left: 5px;
}

img {
    width: 100%;
}


/******************************************* start:nav *******************************/

.nav {
    margin: 0 auto;
    padding: 3%;
}



.nav-list li {
    display: block;
    padding: 13px 0;
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-size: 14px;

}

.nav-list li a {
    color: #c78c06;


}

.main-logo {
    background-color: #c78c06;
}

.nav-list li img {
    width: 65px;
    float: left;
    vertical-align: bottom;
}

.nav-list li:hover {
    background-color: #c78c06;
    color: #222;
}

.nav-list li:hover a {
    color: #222;
}

.search-box {
    position: relative;
    margin-top: 10px;
    width: 100%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
}

.search-box #search {
    position: absolute;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-family: inherit;
    font-size: 13px;
}


.search-button {
    border: 1px solid #c78c06;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    line-height: 20px;
    text-align: center;
    right: 0px;
    background-color: #222;
    color: transparent;
    outline: none;

}

.fa-search {
    color: white;
    position: absolute;
    right: 8px;
}

.fa-search::before {
    font-size: 15px;
}


.fa-search {
    color: #c78c06;
    background-color: transparent;
    font-size: 25px;


}

/**************************************************** end:nav **************************************************/




.map iframe {
    width: 100%;
}

.banner-wrap{
    background-image: url("../images/main-banner.jpg");
    background-size: cover;
    padding: 70px 0;
}

.banner h1{
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.4;
    color: white;
    margin-bottom: 15px;
}

.banner {
    background:rgb(0,0,0,0.5);
    padding: 40px 0 20px 10px;
    color: white;
}

.banner-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 25px 20px;
    background-color: #c78c06;
    font-size: 0.8rem;
}

/** * * * * * * * * * * * * * * * * * * * *banner * * * * * * * * * * * * * * * *   */

/* * * * * * * * * * * * * * * * * * * * * * * *Start : Main * * * * * * * * * * * * * * * * * * * * * * * * * * *  */


/* link button */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 20px 20px;
    background-color: #222;
    font-size: 0.8rem;
    color: white;
}

.about-us{
    width: 100%;
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column-reverse;
}

.about-img img {
    width: 100%;
}

.about-text h2 {
    margin: 20px 0;
}

.about-text p:nth-child(3){
    margin: 10px 0;
}

/**************************** end: about us*********************************/



/**********************************Start : Servies************************************ */

#Servies,
#Team {
    margin-top: 40px;
    background-color: #fff;

}

#Servies h2 {
    margin-bottom: 10px;
}

.servies-box {
    background-color: #ffe6ac;
    margin-top: 15px;
}

.servies-wrap {
    padding: 15px;
}

#Servies h3 {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 0;
}

/* end:servies */


/*****************************v* start:vision *************************************vv*/

#Vision {
    background-image: url("../images/vision.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    color: #fff;
}

#Vision h2{
    font-size: 1.4rem;
    margin: 10px 0;
}



.vision-btn {
    border: 1px solid #c78c06;
    margin-top: 15px;
    background-color: rgb(0,0,0,0.6);
}

/* End:Vision */


/******************************************Our Team***************************************  */

.team-wrap {
    background-color: #ffe6ac;
}

.team-heading h2{
    margin-bottom: 10px;
}

.team-wrap {
    margin-top:12px;
}
.team-box:not(.team1,.team3)
{
    padding: 10px 10px 20px 10px;
}


.team-box h3 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px 0 5px 0;
}

.team-box h3+p {
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 2px solid #be7d00;
    margin-bottom: 8px;
}


/**********************************Team****************************************/

#Contact {
    background-color: white;
}

#Contact h2{
    font-size: 2rem;
}

#Contact h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

.contact-box form {
    margin-top: 15px;
    width: 100%;
}

.contact-box form input {
    display: block;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.contact-box button {
    background-color:#222;
    color:#c78c06;
    padding: 5px;
    font-size: 0.8rem;
    margin-top: 15px;
}

.contact2 h3{
    margin-top: 30px;
}

.table-wrap table {
    width: 100%;
    margin-top: 10px;
}

.table-wrap th, tr, td {
        border: 1px solid #222;
        padding: 13px;
}

.table-wrap thead {
    background-color: #ffe6ac;
}

.contact3 h3 {
    margin-top: 30px;
}



/* end:contact */

/* start:footer */

footer {
    color: #c78c06;
    padding: 30px 0 25px 25px;
}

.footer-wrap p:nth-child(2){
    margin-top: 10px;
}


/**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************Desktop*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media screen and (min-width:760px) {

    body {
        font-size: 20px;
    }
    .wrap {
        max-width: none;
    }



    .nav {
        position: relative;
        padding: 30px 160px;
        overflow: hidden;
    }

    .nav-list li {
        display: inline-block;
        width: inherit;
        padding: 15px 30px;
        float: left;
        font-size: 1.3rem;
    }

    .nav-list li:not(.main-logo){
        margin-top: 20px;
    }

    .nav-list li:nth-child(1) {
        padding: 0;
        margin-right: 50px;
 
    }
    
    .main-logo a img{
        width: 100px;
    }


    .search-box {
        right: 0;
        width: 250px;
        float: right;
        margin-top: 30px;
    }
/* banner */

    .banner{
        margin: 0 160px;
        padding: 60px 60px 25px 30px;
    }

    .banner h1 {
        font-size: 6.3rem;
        margin-bottom: 50px;
    }

    .banner-btn{
        padding: 35px 40px;
        font-size: 1.3rem;
    }

    /* about-us */

    .about-us{
        width: inherit;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 150px;
        overflow: auto;
    }

    .about-us h2,
    .service-heading h2{
        font-size: 5rem;
        margin: 0 0 30px 0;
        font-weight: 700;
    }

    .about-img{
        flex: 1;
        padding-right: 10px;
    }

    .about-text{
        flex:1;
        padding-left: 10px;

    }

    .about-text p:nth-child(3){
        margin: 20px 0;
    }
    

    /********************about us***********************/


/***********************Servies*********************/
#Servies {
    padding: 30px 160px;
}

.servies-wrap {
    padding: 20px;
}

.servies{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
}


.digital{
   
    grid-area: 1/1/2/4;
}

.marketing{
    grid-area: 1/4/2/7;
}

.video {
    grid-area: 2/1/3/3
}

.web {
    grid-area: 2/3/3/5; 
}

.print {
    grid-area: 2/5/3/7;
}

#Servies h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.servies-btn {
    width: 100%;
    padding: 45px 0;
    font-size: 2rem;
    text-align: center;
}

/**********************Vision*************************/
#Vision{
    padding: 30px 160px;
    background-size: cover;
    background-position-y: 50%;
}

#Vision h2{
    font-size: 3rem;
    margin: 20px 0;
}


.vision-btn {
    padding: 45px;
    font-size: 2rem;
    margin-top: 35px;
    

}

/* End:Vision */

/*******************************Start:Team************************************  */

#Team {
    padding: 0 160px;
}

.team-heading h2 {
    font-size: 5rem;
}

.team-wrap {
    display: flex;
    flex-wrap:inherit;
}

#Team .team-box  {
    flex-basis:50%;
}



.team-wrap {
    margin-top: 0;
}

.team-box h3{
    font-size: 3rem;
}

.team4 {
    order:-1;
}

.team-box img{
    width: 100%;
    height: 100%;
}


/*************************************Team******************************************/

/*****************************************Contact US*******************************************/

#Contact {
    padding: 80px 160px;
}

#Contact h2{
    font-size: 5rem;
}

#Contact h3 {
    font-size: 3rem;
}

.contact-box form input {
    padding: 6px 0;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
}

.contact1 {
    grid-area:1/1/2/2;
}

.contact2 {
 grid-area: 2/1/3/3;
}

.contact3 {
    grid-area:1/2/2/3;
}


}